/* ================= INFORMASI PUBLIK ================= */
.info-list{
    max-width: 900px;
    margin: 40px auto;
    padding: 0 15px;
}

.info-item{
    display:flex;
    align-items:center;
    gap:18px;

    padding:22px 28px;
    margin-bottom:18px;

    background:#f3f3f3;
    border-radius:14px;
    text-decoration:none;
    color:var(--text-dark);

    min-height:80px;
    transition:all .3s ease;
}

/* HOVER CARD */
.info-item:hover{
    background:var(--blue-soft);
    transform:translateY(-4px);
    box-shadow:0 8px 20px rgba(13,110,253,.15);
}

/* ICON */
.info-item .icon{
    width:56px;
    height:56px;
    background:#fff;
    border-radius:12px;

    display:flex;
    align-items:center;
    justify-content:center;

    font-size:22px;
    color:var(--blue-main);
    position:relative;
    flex-shrink:0;
}

/* TEKS */
.info-item span{
    font-size:17px;
    font-weight:500;
    transition:all .25s ease;
}

/* HOVER TEKS */
.info-item:hover span{
    font-size:18.5px;
    font-weight:700;
    color:var(--blue-main);
}

/* ================= FOOTER ================= */
footer{
    background:#f5f7fa;
}